<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Do preparation for Jenkins CI, like pre-download jenkins bash files, etc</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>git_pull_list</name>
          <description></description>
          <defaultValue>/Users/mac/backup/my_code/mydevops,git@git.dennyzhang.com:authright/mydevops.git,dev
/Users/mac/backup/my_code/devops-knowledgebase,git@git.dennyzhang.com:dennyzhang/devops-knowledgebase.git,master
/Users/mac/backup/my_code/devops_effort,git@git.dennyzhang.com:authright/devops_effort.git,master
/var/lib/jenkins/code/bash_dir/,git@git.dennyzhang.com:dennyzhang/devops-knowledgebase.git,dev
/var/lib/jenkins/code/dockerdeploy/mydevops,git@git.dennyzhang.com:authright/mydevops.git,dev
/var/lib/jenkins/code/digitialocean/mydevops/,git@git.dennyzhang.com:authright/mydevops.git,dev</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H H/4 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -e
bash -e /var/lib/jenkins/code/bash_dir/master/devops-knowledgebase/code/jenkins/jenkins_code_pull.sh
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>